<div>
    <h1>AGB</h1>

    <h5>        Das E-Commerce-Gesetz (ECG)</h5>
    <p>
        Das E-Commerce-Gesetz (ECG) sieht zusätzlich ausdrücklich vor, dass ein Diensteanbieter die Vertragsbestimmungen und allfällige allgemeine Geschäftsbedingungen dem Nutzer so zur Verfügung zu stellen hat, dass er sie speichern und wiedergeben kann (§ 11 ECG). Diese Verpflichtung kann nicht zum Nachteil des Nutzers ausgeschlossen werden und gilt für Verbraucherverträge  (B2C) genau so, wie bei Verträgen zwischen Unternehmern (B2B).

        Der Verpflichtung des Speicherns und Wiedergebens ist entsprochen, wenn der Nutzer die AGB herunterladen und ausdrucken kann. Dies muss ohne erheblichen technischen Aufwand möglich sein. Die bloße Anforderungsmöglichkeit auf dem Postweg oder die Zurverfügungstellung entsprechender PDF-files (portable document format), bei denen der Druckmodus gesperrt ist, widerspricht dieser Verpflichtung.

        Nicht umfasst ist von dieser Verpflichtung auch die Beistellung von Software, die zum Speichern oder Ausdrucken (und Öffnen) erforderlich ist. Die technischen Voraussetzungen hierfür hat der Nutzer selbst zu schaffen. Der Diensteanbieter darf jedoch seine Pflicht nicht dadurch unterlaufen, dass er ungewöhnliche Programme verwendet, die ein durchschnittlicher Nutzer nicht übernehmen kann.
    </p>
</div>
