@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen bei GMOTO!</h1>
    <img src="../images/werkstatt.jpg" alt="Werkstatt"/>
    <hr />
    <img src="../images/Filliale.jpg"width="920" alt="Filliale"/>
</div>

    @*<h2>Unsere TOP 5 Produkte!</h2>*@
