@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron bg-dark">
    <div class="display-3 text-white text-center">Willkommen bei GMOTO!</div>
</div>

<div class="text-center">
    <img src="../images/werkstatt.jpg" alt="Werkstatt"/>
    <hr />
    <img src="../images/Filliale.jpg"width="920" alt="Filliale"/>
</div>

    @*<h2>Unsere TOP 5 Produkte!</h2>*@
