@{
    ViewData["Title"] = "Login";
}

<form method="post" action="/Home/Login">
    <input name="email" placeholder="email" />
    <input name="password" placeholder="password" />
    <button type="submit">Anmelden</button>
</form>
