@{
    ViewData["Title"] = "Registrieren";
}

<form method="post" action="/Home/Register">
    <input name="Title" placeholder="Title" />
    <input name="FirstName" placeholder="FirstName" />
    <input name="LastName" placeholder="LastName" />
    <input name="Email" placeholder="Email" />
    <input name="Street" placeholder="Street" />
    <input name="Zip" placeholder="Zip" />
    <input name="City" placeholder="City" />
    <input name="password" placeholder="password" />
    <button type="submit">Registrieren</button>
</form>
