@{
    ViewData["Title"] = "Registrieren";
}

<form method="post" action="/Home/Register">
    <input name="Titel" placeholder="Titel" />
    <input name="Vorname" placeholder="Vorname" />
    <input name="Nachname" placeholder="Nachname" />
    <input name="Email" placeholder="Email" />
    <input name="Straße" placeholder="Straße" />
    <input name="PLZ" placeholder="PLZ" />
    <input name="Ort" placeholder="Ort" />
    <input name="Passwort" placeholder="Passwort" />
    <input name="Passwort" placeholder="Passwort wiederholen" />
    <button type="submit">Registrieren</button>
</form>
